{% extends "base.html.twig" %}

{% block title %}Stiri{% endblock %}

{% block body %}
    <style>.gradient-custom {
            /* fallback for old browsers */
            background: #6a11cb;

            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
        }</style>
    <form method="POST" action="{{ path('app_article_upload')}}">
        <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-dark text-white" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">

                                <div class="mb-md-5 mt-md-4 pb-5">

                                    <h2 class="fw-bold mb-2 text-uppercase">{% if stire is defined %}Updateaza {% else %}Creeaza {% endif %}stirea</h2>

                                    <div class="form-outline form-white mb-4">
                                        <input id="typeEmailX" name="titluArt" class="form-control form-control-lg" value="{%if stire is defined %}{{ stire.titlu }}{% endif %}"/>
                                        <label class="form-label" for="typeEmailX">Titlu</label>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <textarea type="text" id="typePasswordX" name="rezumatArt" class="form-control form-control-lg">{%if stire is defined %}{{ stire.rezumat}}{% endif %}</textarea>
                                        <label class="form-label" for="typePasswordX">Rezumat</label>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <textarea type="text" id="typePasswordX" name="textArt" class="form-control form-control-lg">{%if stire is defined %}{{ stire.text }}{% endif %}</textarea>
                                        <label class="form-label" for="typePasswordX">{% if rol is defined and rol != 0 %}Articolu{% else %}Barfa{% endif %}</label>
                                    </div>
                                    {% if rol is defined and rol != 0 %}
                                    <div class="form-outline form-white mb-4">
                                        <input type="text" id="typePasswordX" name="poza1Art" class="form-control form-control-lg" value="{%if stire is defined %}{{ stire.poza1 }}{% endif %}"/>
                                        <label class="form-label" for="typePasswordX">Link poza 1</label>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <input type="text" id="typePasswordX" name="poza2Art" class="form-control form-control-lg" value="{%if stire is defined %}{{ stire.poza2 }}{% endif %}"/>
                                        <label class="form-label" for="typePasswordX">Link poza 2</label>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <input type="text" id="typePasswordX" name="poza3Art" class="form-control form-control-lg" value="{%if stire is defined %}{{ stire.poza3 }}{% endif %}"/>
                                        <label class="form-label" for="typePasswordX">Link poza 3</label>
                                    </div>
                                    {% endif %}
                                    <button class="btn btn-outline-light btn-lg px-5" type="submit" name="Login" value="0">Login</button>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
{% endblock %}