{% extends "base.html.twig" %}

{% block title %}Stiri{% endblock %}

{% block body %}
    <style>
        a:link {
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        a:active {
            text-decoration: none;
        }
        ul{
            list-style: none;
        }
        .item1 {
            grid-area: myArea;
        }
        .item2 {
            grid-area: myAREA;
        }
        .item3 {
            grid-area: myAreA;
        }
        @media only screen and (min-width: 1600px) {
            .grid-container {
                display: grid;
                grid-template-areas:
                    "myArea  myArea myAREA myAREA myAreA myAreA";
            }
        }
        @media only screen and (max-width: 1600px) {
            .grid-container {
                display: grid;
                grid-template-areas:
            "myAREA myAREA"
            "myArea  myArea"
            "myAreA myAreA";
            }
        }

    </style>
    <div style="height:100vh" class="grid-container">
    <div  style="border-width: 2px;border-style: dashed;border-color: lightblue" class="item1">
        <iframe src="{{ path('app_clasament') }}" width="100%" height="800 px"></iframe>
    </div>
    <div  style="border-width: 2px;border-style: dashed;border-color: lightblue" class="item2">
        <ul>
        <h4>Ultimele stiri din baschetul bucurestean</h4>
            {% for stire in stiri %}
                <div onclick="location.href='{{ path('app_watch',{"id" : stire.id}) }}'" style = "border: 1px solid #000; word-break:normal; margin:10px"><li style="width:500px;height:100%"><a href="{{ path('app_watch',{"id" : stire.id}) }}" style="margin:30px"><div><h2>{{ stire.titlu }}</h2><br><h4>
                                    {{ stire.rezumat | raw }}</h4><br>
                                {% if stire.Poza1 is defined %}
                                    <img src="{{ stire.Poza1 }}" width="150px" style="margin:5px">
                                {% endif %}
                                {% if stire.Poza2 is defined %}
                                    <img src="{{ stire.Poza2 }}" width="150px" style="margin:5px">
                                {% endif %}
                                {% if stire.Poza3 is defined %}
                                    <img src="{{ stire.Poza3 }}" width="150px" style="margin:5px">
                                {% endif %}
                                <h5>{{ stire.autor }}</h5></div></a><br>{% if nume is defined and rol is defined and (stire.autor == nume or rol == 2)%}<a href="{{ path('app_article_update',{"id":stire.id}) }}" style="margin:10px">Update</a><a href="{{ path('app_article_delete',{"id":stire.id}) }}">Delete</a>{% endif %}</li></div>
            {% endfor %}
        </ul>
    </div>
        <div  style="border-width: 2px;border-style: dashed;border-color: lightblue;" class="item3">
            {% if rol is defined and rol >= 1 %}
                <form action="{{ path('app_export') }}">
                <button type="submit" margin="20px">Export</button>
                </form>
                    <br>
                <form action="{{ path('app_import') }}" method="post" enctype="multipart/form-data">
                    <input type="file" name="uploaded_file" margin="20px"/><br>
                    <button type="submit" margin="20px">Importa stiri</button><br>
                </form>

                <form action="{{ path('app_import_baschetro') }}">
                    <button type="submit" margin="20px">Importa baschet.ro</button>
                </form>
            {% endif %}
            <iframe width="100%" height="625 px" src="{{ path('app_stats') }}"></iframe>
            <form action="{{ path("app_feedback") }}" method="POST">
                {% if rol is not defined %}
                    <label>Mail:<br><input name="email_feedback"/></label><br>
                    <label>Nume:<br><input name="nume_feedback"/></label><br>
                {% endif %}
                    <label>Feedback:<br><textarea name="feedback"></textarea></label><br>
                    <label>Rating:<input type="range" min="1" max="5" step="1" name="rating"/></label><br>
                    <button type="submit">Trimite feedback!</button>
            </form>
        </div>
    </div>
{% endblock %}