{% extends "base.html.twig" %}

{% block title %}Stiri{% endblock %}

{% block body %}
    <style>
        .item1 {
            grid-area: myArea;
        }
        .item2 {
            grid-area: myAREA;
        }
        .item3 {
            grid-area: myAreA;
        }
        .grid-container {
            display: grid;
            grid-template-areas:
                    "myArea  myArea myAREA myAREA myAreA myAreA";
        }
    </style>
    <div style="height:100vh" class="grid-container">
    <div  style="border-width: 2px;border-style: dashed;border-color: lightblue" class="item1">
        <iframe src="{{ path('app_clasament') }}" width="100%" height="100%"></iframe>
    </div>
    <div  style="border-width: 2px;border-style: dashed;border-color: lightblue" class="item2">
        <ul>
        <h4>Ultimele stiri din baschetul bucurestean</h4>
            {% for stire in stiri %}
                <div onclick="location.href='{{ path('app_watch',{"id" : stire.id}) }}'" style = "border: 1px solid #000; word-break:break-all; margin:10px"><li style="width:500px;height:100%"><a href="{{ path('app_watch',{"id" : stire.id}) }}" style="margin:30px"><div><h2>{{ stire.titlu }}</h2><br><h4>
                                    {{ stire.rezumat }}</h4><br><h5>{{ stire.autor }}</h5></div></a><br>{% if nume is defined and rol is defined and (stire.autor == nume or rol == 2)%}<a href="{{ path('app_article_update',{"id":stire.id}) }}" style="margin:10px">Update</a><a href="{{ path('app_article_delete',{"id":stire.id}) }}">Delete</a>{% endif %}</li></div>
            {% endfor %}
        </ul>
    </div>
        <div  style="border-width: 2px;border-style: dashed;border-color: lightblue;" class="item3">
            {% if rol is defined and rol >= 1 %}
                <form action="{{ path('app_export') }}">
                <button type="submit" margin="20px">Export</button>
                </form>
                    <br>
                <form action="{{ path('app_import') }}" method="post" enctype="multipart/form-data">
                    <input type="file" name="uploaded_file" margin="20px"/><br><br>
                    <button type="submit" margin="20px">Importa stiri</button>
                </form>
            {% endif %}
            <iframe width="100%" height="50%" src="{{ path('app_stats') }}"></iframe>
        </div>
    </div>
{% endblock %}